<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TMDBSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EF1B26A1CB72DBF00B49F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF1B2741CB72DC000B49F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF1B2881CB72DFE00B49F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF1B29B1CB72DFE00B49F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
